include AUTHORS.rst
include CONTRIBUTING.rst
include CHANGELOG.rst
include LICENSE
include README.rst
include requirements.txt
recursive-exclude exercise_perseus_render/* *pyc
recursive-include exercise_perseus_render/static *.*
recursive-include exercise_perseus_render/build *.json
recursive-exclude exercise_perseus_render/assets *
